.token.known-class-name {
  color: #80ffbb;
}

.token.comment {
  color: #ca92ff;
  font-style: italic;
}
.token.changed,
.token.selector {
  color: #b38aff;
}

.token.constant,
.token.builtin,
.token.attr-name,
.token.char,
.token.symbol,
.token.parameter,
.token.maybe-class-name,
.token.console {
  color: #9effff !important;
}

.token.json-key {
  color: #80ffbb;
}

.token.string,
.token.inserted,
.token.template-string.interpolation {
  color: #a5ff90;
}

.token.template-string {
  color: #3ad900;
}

.token.template-string.interpolation-punctuation {
  color: #ffee80;
}

.token.template-string.punctuation:not(.interpolation-punctuation),
.token.operator,
.token.punctuation  {
  color: #D7C9F0;
}

.token.parent-class,
.token.property-access,
.token.func {
  color: #fad000;
}

.token.class-name,
.token.declarations,
.token.function,
.token.op {
  color: #ff9d00;
}

.token.keyword {
  color: #d98aff;
  font-weight: 700;
}

.token.number,
.token.control-flow,
.token.regex-source,
.token.boolean,
.token.variable,
.token.tag,
.token.deleted,
.token.nil{
  color: #ff628c
}

.token.regex-delimiter {
  color: #92fc79;
}
